.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/***user table***/
.userTable{
    @apply bg-white
}
.userTable th{
    @apply border text-base font-medium
}

.userTable td{
    @apply border text-base text-center
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar{
    display: none;
}
body {
    @apply font-sans relative;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../src/assets/bg.jpg);
    background-repeat: repeat;
    opacity: 0.05; /* Adjust this value to make the image milder */
    z-index: -1;
  }
  
  
